@import "./variables.scss";

.partners{
    margin-top: 100px;
}

.basic-partners{
    display: flex;
    justify-content: center;
    gap: 30px;
    @media(max-width:1240px){
        width: 600px;
        margin: auto;
        flex-wrap: wrap;
    }
    @media(max-width:650px){
        width: auto;
    }
    img{
        height: 70px;
    }
}